.button {
    padding: 12px 40px;
    background-color: #0ac883;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;
    color: #fff;
  }