
/* Contact form */

.form {
    width: 630px;
    padding: 40px;
  
    font-size: 18px;
  
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);

    &-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 28px;
      }

    &-group {
        margin-bottom: 30px;
      }

    &-group:last-of-type {
        margin-bottom: 35px;
      }

    &-group-title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
      }
  }
  
  .input-wrapper {
    margin-bottom: 10px;
  }
  
  .input-group-row {
    display: flex;
    justify-content: space-between;

    > .input + .input {
        margin-left: 10px;
      }
  }
  
  .input {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
  
    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    color: #31405b;
  
    font-size: 18px;
    font-family: "PT Sans", sans-serif;

    &::placeholder {
        color: rgba(49, 64, 91, 0.5);
      }
  }
  