
.title-h3 {
  font-weight: 700;
  font-size: 28px;
}

.title-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}

.title-h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 54px;
  color: $base-color;
}
